img{
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.navBar{
	text-align: center;
	background-color: #323232;
	padding: 15px;
}

.link{
	display: inline-block;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #FFFFFF;
	font-style: normal;
	font-size: 1em;
	padding-left: 65px;
	text-decoration: none;
}

.link:hover{
	opacity: .65;
	cursor: pointer;
}

li{
	display: inline-block;
}

.fa-apple{
	display: inline-block;
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #FFFFFF;
	font-style: normal;
	font-size: 1em;
	text-decoration: none;
}

.fa-apple:hover{
	opacity: .65;
	cursor: pointer; 
}